#!/bin/bash
#
# ~/.xinitrc
#
# Executed by startx (run your window manager from here)

CONFIGDIR=/etc/X11/xinit

XDEFAULTS=$HOME/.Xdefaults
XMODMAP=$HOME/.Xmodmap
XRESOURCES=$HOME/.Xresources

# Merge in defaults and keymaps
if [ -f "$XDEFAULTS" ] ; then
  xrdb -load $XDEFAULTS
fi

if [ -f "$XRESOURCES" ] ; then
  xrdb -merge $XRESOURCES
fi

if [ -f "$XMODMAP" ] ; then
  xmodmap "$XMODMAP"
fi

# Start global apps
if [ -d $CONFIGDIR/xinitrc.d ] ; then
  for f in $CONFIGDIR/xinitrc.d/?* ; do
    [ -x "$f" ] && . "$f"
  done
fi

# Start user apps
if [ -d $HOME/.xinitrc.d ] ; then
  for f in $HOME/.xinitrc.d/?* ; do
    [ -x "$f" ] && . "$f"
  done
fi

compton --config ~/.i3/compton.conf &

WM=i3

STARTUP="$STARTUP $WM"
exec $STARTUP
